[Unit]
Description=Whisper Transcription Service
After=default.target

[Service]
Type=simple
ExecStart=%CWD%/venv/bin/python3 %CWD%/main.py
WorkingDirectory=%CWD%
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
